<ion-header>
  <ion-navbar>
    <ion-title>
      Demo Ionic Script SQL
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-list>
    <ion-item *ngFor="let dato of datos">
      <h2>{{ dato.unTextoLargo }}</h2>
      <p>{{ dato.unTextoCorto }}</p>
    </ion-item>
  </ion-list>-->

  <button ion-button block (click)="cargarSectores()"  >Cargar</button>

  <h1>SQLITE</h1>

  <ion-list>
    <ion-item *ngFor="let sector of sectores">
      <h2>{{ sector.pkidtiposector }}</h2>
      <p>{{ sector.nombretiposector }}</p>
    </ion-item>
  </ion-list>

  <hr>
  <button ion-button color="danger" block>SEPARADOR</button>

  <ion-list>
    <ion-item *ngFor="let dato of datos">
      <h2>{{ dato.pkidtiposector }}</h2>
      <p>{{ dato.nombretiposector }}</p>
    </ion-item>
  </ion-list>

  




</ion-content>